/* Container for the bubbles */
#o {
    width: 400px;                  /* Fixed width */
    height: 400px;                 /* Fixed height */
    position: relative;            /* Allows absolutely positioned children to be placed relative to this container */
    margin-left: auto;            /* Center horizontally */
    margin-right: auto;           /* Center horizontally */
}

/* Style for each bubble */
.bubble {
    border: 8px outset #033f03;    /* White border around the bubble */
    display: block;               /* Treated as a block-level element */
    position: absolute;           /* Allows free placement within the container */
    border-radius: 20px;          /* Rounded edges to make it look like a circle */
    -webkit-border-radius: 20px;  /* Rounded edges for older WebKit browsers */
    -moz-border-radius: 20px;     /* Rounded edges for older Firefox versions */
}

/* Set the background color of the entire page */
body {
    background-color: #ba981f;    /* background */
}
