body {
    font-family:"Comic Sans MS";
}
#buttonBox {
    margin-top: 30px;
}
#thingToDo {
    margin-top: 20px;
    background-color: aqua;
}

h1{
    background-color: chocolate;
}

#whattodo{
    background-color: crimson;
}