body {
    font-family: Arial, sans-serif;
}

#container {
    padding: 10px;
    width: 1500px;
    height: 500px;
    background-color: #00FF00;
}

#track {
    width: 1500px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 30px auto;
}

#car {
    position: relative;
    left: -10px;
    size-adjust: calc();

}

#stopButton {
    padding-top: 15px;
    margin: 10px auto;
    background-color: white;
    width: 100px;
    height: 50px;
    color: red;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}