* {
    margin: 0px;
}

html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden;
}

#story {
    width: 100%;
    color: rgb(236, 236, 236);
    height: 80%;
    background-color: rgb(15, 51, 51);
    overflow-y: scroll;
}

#site-footer,
.story:after {
    position: static;
    bottom: 0;
    height: 20%;
}

#question {
    padding: 10px 0;
    width: 100%;
    background-color: #CCC;
    color: #333;
}

#answer {
    padding: 10px 0;
    width: 100%;
    background-color: #333;
    color: #FFF;
    text-align: center;
    display: none;
}

.storyPart {
    display: none;
}

p {
    margin-top: 1em;
    margin-left: 10px;
}
