body {
    font-family: Arial, sans-serif;
}
#listPage.print {
    background-color: #02a5c9;
    padding: 20px;
    font-family: cursive;
}
#listPage.print ul {
    margin: 10px 0px;
    padding: 0px;
    border-left: 4px double red;
}
#listPage.print li {
    list-style-type:none;
    margin: 0px -20px;
    padding-left: 26px;
    border-bottom: 1px solid blue;
    line-height: 36px;
    font-size: 24px;
    font-family: cursive;
}

h1{
    border-bottom: 3px dashed black;
}

#addIt{
    background-color: orangered;
}

#printable{
    background-color: rgb(161, 14, 161);
}