body {
    font-family: "Courier New", Courier, monospace;
    font-size: .85em;
}

h2 {
    text-align: center;
    font-size: 1.6em;
    border-top: 3px dashed rgb(80, 240, 246);
    border-bottom: 3px dashed rgb(80, 240, 246);
    color: rgb(242, 215, 58);
}
input[type=text] {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    text-align: center;
    background-color: #ffffff;
    font-size: 1.2em;
}
input[type=submit] {
    width: 200px;
    font-size: 2em;
}
#calculator {
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 4px;
}
.input-area {
    background-color: #1892f5;
    padding: 8px;
    margin: 8px;
    text-align: center;
    border-radius: 8px;
}
.operator-choices {
    text-align: left;
}
.output-area {
    background-color: #ab7e50ed;
    color: #FFFFFF;
    padding: 8px;
    margin: 8px;
    font-size: 1.5em;
}

h3{
    color: rgb(242, 215, 58);
}

#concat{
    color: rgb(242, 215, 58);
}

#submit{
    color: rgb(242, 215, 58);
    background-color: blue;
}

.input-area{
    color: #ffffff;
}

header{
    position: relative;
    background-color: #1892f5;
    border-radius: 20px;
    width: 560px;
    border: 4px solid black;
    left: 100px;
    text-align: center;
}