#Monday, #Tuesday, #Wednesday, #Thursday, #Friday, #Saterday, #Sunday{
    width: 18%;
    height: 200px;
    float: left;
    border: 1px solid black;
    padding: 2px;
    font-family: sans-serif;
    font-size: 12px;
}
.Sunny {
    background-color: rgb(47, 195, 240);
}
.Raining {
    background-color: rgb(29, 76, 90);
}
.Cloudy {
    background-color: #a7a7a7;
}
.Thunderstorm {
    background-color: #000000;
    color: #fff;
}
.Foggy{
    background-color: aliceblue;
}
#orderForm {
    width: 75%;
    margin: 20px auto;
}
#result {
    display: none;
    background-color: aquamarine;
    color: rgb(0, 0, 0);
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
}

body{
    background-color: #009991;
}

#OpenTheStand{
    background-color: blue;
    color: aliceblue;
    border-radius: 3px;
}