body {
    font-family: Arial;
    background-color: black;
}

p {
    font-size: 2em;
}

.eye {
    background-color: rgb(76, 248, 248);
    width: 60px;
    height: 35px;
    border-radius: 60%;
}

.arm {
    background-color: #cacaca;
    position: absolute;
    top: 35%;
    width: 5%;
    height: 40%;
}

#head {
    width: 30%;
    height: 30%;
    border-radius: 45px;
    background-color: #dadada;
    position: absolute;
    left: 33%;
    top: 5%;
}

#righteye {
    position: absolute;
    left: 20%;
    top: 25%;
}

#lefteye {
    position: absolute;
    left: 55%;
    top: 25%;
}

#nose {
    position: absolute;
    left: 45%;
    top: 45%;
    width: 10%;
    height: 15%;
    background-color: black;
    border-radius: 10px;
}

#mouth {
    position: absolute;
    width: 65%;
    height: 12%;
    left: 18%;
    top: 72%;
    background-color: red;
    border-radius: 10px;
}

#body {
    position: absolute;
    left: 25%;
    top: 35%;
    width: 45%;
    height: 45%;
    background-color: #dadada;
    text-align: center;
    padding-top: 30px;
    border-radius: 10%;
}

#rightarm {
    position: absolute;
    left: 19%;
    top: 37%;
    border-radius: 10px;
    height: 30%;
}

#leftarm {
    position: absolute;
    right: 3%;
    width: 27%;
    height: 4%;
    border-radius: 10px;
}